* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
  color: #fff;
  /*input[type="submit"]{*/

  *, *::before, *::after {
    box-sizing: border-box;
  }

  a,
  a img,
  input[type="button"] {
    cursor: pointer;
  }

  cursor: default;
  scroll-behavior: smooth;
}

body {
  background-color: #191919;
  font-family: "DM Sans", sans-serif;
  /*overflow-y: hidden;*/
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}

.logo {
  padding: 18px 0 18px 70px;
}

.navbar {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.burger-menu {
  background-color: #191919;
  margin-right: 70px;
  display: none;
}


.navbar-list {
  display: flex;
  gap: 40px;
  padding: 20px;
  margin-right: 70px;
}

.nav-link {
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  padding: 40px 70px 140px 70px;
}

.image-block {
  position: relative;
}

.main-image {
  border-radius: 12px;
}

.info-block {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.main-text {
  font-weight: 400;
  font-size: 70px;
  line-height: 1.25;
  letter-spacing: 0.05em;
  margin-bottom: 90px;
  max-width: 526px;
}

.level {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  letter-spacing: 0.04em;
}

.next {
  font-weight: 400;
  font-size: 75px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  position: relative;
}

.title {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.link-list {
  display: flex;
  gap: 18px;
}

.link-logo {
  transition: 0.3s;
}

.episodes {
  display: flex;
  flex-direction: column;
  padding: 0 70px 160px 70px;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.24;
  letter-spacing: 0.05em;
}

.button-link {
  background-color: #118DA8;
  border-radius: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  padding: 12px 15px 12px 20px;
  transition: 0.3s;
}

.article-box {
  display: flex;
  flex-direction: column-reverse;
  gap: 60px;
}

.article {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px;
  border-radius: 32px;
  background-color: #000;
}

.article-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: #191919;
  border-radius: 6px;
  margin-bottom: 50px;
}

.text-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #118da8;
  margin-bottom: 18px;
}

.article-h2 {
  font-weight: 400;
  font-size: 56px;
  line-height: 1.24;
  letter-spacing: 0.04em;
  margin-bottom: 28px;
}

.article-p {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 18px;

}

.meet {
  display: flex;
  padding: 100px 70px;
  gap: 60px;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow-icon {
  margin-bottom: 20px;
  transition: 0.3s;
}

.text-span-no-margin {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #118da8;
}

/*.text-block-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #118da8;
}*/
.text-block-p {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 34px;
}

.form-section {
  padding: 100px 70px;
}

.form {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  box-sizing: border-box;
  padding: 60px;
  border-radius: 32px;
  background-color: #000;
}

.title-h2-form {
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1;
  letter-spacing: 0.04em;
}

.form-block {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 50%;
}

.input-field {
  border: 1px solid #191919;
  border-radius: 6px;
  padding-left: 20px;
  max-width: 522px;
  width: 100%;
  min-height: 82px;
  background-color: #191919;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}

.reviews {
  display: flex;
  padding: 100px 70px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.review-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 32px;
  max-width: 423px;
  min-height: 321px;
  background-color: #000;
  padding: 54px 60px 50px 50px;

}

.review-star {
  display: flex;
  gap: 5px;
}

.review-p {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
}

.review-span {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.7);
}

.footer {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 100px 70px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 450px;
  min-width: 25%;
}

.footer-nav-logo-small {
  display: flex;
  gap: 12px;
}

.icon {
  transition: 0.3s;
}


.footer-nav-list {
  display: flex;
  gap: 16px;
}

.footer-nav-list-ul {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  gap: 10px;
}

.nav-link:hover {
  color: #118da8;

}

.link-logo:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.button-link:hover {
  background-color: transparent;
  border-color: transparent;
  transition: 0.3s;
}

.arrow-icon:hover {
  rotate: 90deg;
}

.input-field:hover {
  border: 1px solid #118da8;
  transition: 0.3s;
}

.icon:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

#hero-image::before {
  content: "";
  display: block;
  position: absolute;
  width: 68px;
  height: 74px;
  left: -25px;
  top: -25px;
  background-image: url(images/strip-img.svg);
}

.next::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 158px;
  height: 109px;
  left: -5px;
  background-image: url(images/strip-word.svg);
}

.form::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 147px;
  height: 91px;
  left: -38px;
  bottom: -26px;
  background-image: url(images/strip-form.svg);
}

/*Убрал визуальное отображение вертикального скролла*/
body::-webkit-scrollbar {
  display: none;
}

/*Плавное уменьшение ширины экрана*/

@media (max-width: 1080px) {
  .header {
    .logo{
      padding: 18px 0 18px 60px;
    }

    .navbar {
      display: none;
    }

    .burger-menu {
      display: flex;
    }

  }
  .hero {
    flex-direction: column;
    padding: 40px 60px 160px;

    .info-block{
      flex-direction: column;
      margin-left: 0;
      padding-top: 60px;
      width: 650px;
    }
  }
  .episodes{
    padding: 40px 20px 160px;

    .container{
      align-items: flex-start;
      margin-bottom: 70px;
      flex-direction: column;
      gap: 20px;
    }
    .article{
      flex-direction: column;
    }
  }
  .meet {
    flex-direction: column-reverse;
  }
  .form-section {
    padding: 100px 20px;

    .form{
      flex-direction: column;
      }
      .form-block{
        width: 100%;
        .input-field{
          max-width: 100%;
        }
      }
    }
  .form::after {
    left: auto;
    right: -38px;
    rotate: -45deg;
  }
  .reviews{
    padding: 40px 20px 160px;
    .review-box {
      max-width: 356px;
      padding: 54px 18px 50px 50px;
    }
  }
  .footer {
    flex-direction: column;
    .footer-nav {
      padding-bottom: 120px;
    }
  }
}




